In [49]:
import pandas as pd

In [51]:
df = pd.read_csv("../Dataset/UberDataset.csv")
df.head(10)

,START_DATE,END_DATE,CATEGORY,START,STOP,MILES,PURPOSE
0,01-01-2016 21:11,01-01-2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,01-02-2016 01:25,01-02-2016 01:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,01-02-2016 20:25,01-02-2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,01-05-2016 17:31,01-05-2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,01-06-2016 14:42,01-06-2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
5,01-06-2016 17:15,01-06-2016 17:19,Business,West Palm Beach,West Palm Beach,4.3,Meal/Entertain
6,01-06-2016 17:30,01-06-2016 17:35,Business,West Palm Beach,Palm Beach,7.1,Meeting
7,01-07-2016 13:27,01-07-2016 13:33,Business,Cary,Cary,0.8,Meeting
8,01-10-2016 08:05,01-10-2016 08:25,Business,Cary,Morrisville,8.3,Meeting
9,01-10-2016 12:17,01-10-2016 12:44,Business,Jamaica,New York,16.5,Customer Visit

In [53]:
df.tail(10)

,START_DATE,END_DATE,CATEGORY,START,STOP,MILES,PURPOSE
1146,12/30/2016 11:31,12/30/2016 11:56,Business,Kar?chi,Kar?chi,2.9,Errand/Supplies
1147,12/30/2016 15:41,12/30/2016 16:03,Business,Kar?chi,Kar?chi,4.6,Errand/Supplies
1148,12/30/2016 16:45,12/30/2016 17:08,Business,Kar?chi,Kar?chi,4.6,Meeting
1149,12/30/2016 23:06,12/30/2016 23:10,Business,Kar?chi,Kar?chi,0.8,Customer Visit
1150,12/31/2016 1:07,12/31/2016 1:14,Business,Kar?chi,Kar?chi,0.7,Meeting
1151,12/31/2016 13:24,12/31/2016 13:42,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,12/31/2016 21:32,12/31/2016 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site
1155,Totals,NaN,NaN,NaN,NaN,12204.7,NaN

In [55]:
#Data Cleaning
df = df[df['START_DATE'] != 'Totals'].copy()
df.tail()

,START_DATE,END_DATE,CATEGORY,START,STOP,MILES,PURPOSE
1150,12/31/2016 1:07,12/31/2016 1:14,Business,Kar?chi,Kar?chi,0.7,Meeting
1151,12/31/2016 13:24,12/31/2016 13:42,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,12/31/2016 21:32,12/31/2016 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site

In [57]:
df.columns

Index(['START_DATE', 'END_DATE', 'CATEGORY', 'START', 'STOP', 'MILES',
       'PURPOSE'],
      dtype='object')

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1155 entries, 0 to 1154
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   START_DATE  1155 non-null   object
 1   END_DATE    1155 non-null   object
 2   CATEGORY    1155 non-null   object
 3   START       1155 non-null   object
 4   STOP        1155 non-null   object
 5   MILES       1155 non-null   float64
 6   PURPOSE     653 non-null    object
dtypes: float64(1), object(6)
memory usage: 72.2+ KB

In [61]:
df['PURPOSE'] = df['PURPOSE'].fillna('Unknown')
df['START_DATE'] = df['START_DATE'].str.strip()
df['END_DATE']   = df['END_DATE'].str.strip()
df['CATEGORY'] = df['CATEGORY'].str.strip()
df['START']   = df['START'].str.strip()
df['STOP']   = df['STOP'].str.strip()
df['PURPOSE']   = df['PURPOSE'].str.strip()
df.head()

,START_DATE,END_DATE,CATEGORY,START,STOP,MILES,PURPOSE
0,01-01-2016 21:11,01-01-2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,01-02-2016 01:25,01-02-2016 01:37,Business,Fort Pierce,Fort Pierce,5.0,Unknown
2,01-02-2016 20:25,01-02-2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,01-05-2016 17:31,01-05-2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,01-06-2016 14:42,01-06-2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit

In [63]:
print("Missing values per column:")
print(df.isnull().sum())

Missing values per column:
START_DATE    0
END_DATE      0
CATEGORY      0
START         0
STOP          0
MILES         0
PURPOSE       0
dtype: int64

In [65]:
df['START_DATE'] = df['START_DATE'].str.replace('/', '-')
df['END_DATE']   = df['END_DATE'].str.replace('/', '-')
df['START_DATE'] = pd.to_datetime(df['START_DATE'], dayfirst=False)
df['END_DATE']   = pd.to_datetime(df['END_DATE'], dayfirst=False)

In [67]:
df.dtypes

START_DATE    datetime64[ns]
END_DATE      datetime64[ns]
CATEGORY              object
START                 object
STOP                  object
MILES                float64
PURPOSE               object
dtype: object

In [69]:
#Data Analysis
#Total Trips
total = len(df)
print("Total Trips : ",total)
# Trips by Category
purpose_counts = df['PURPOSE'].value_counts()
Percentage_purpose_counts = (purpose_counts/len(df) * 100).round(2).sort_values(ascending=False)
print("\nPercentage of Trips by Purpose : ")
print(Percentage_purpose_counts)
# Trips by Purpose
category_counts = df['CATEGORY'].value_counts()
Percentage_category_counts = (category_counts/len(df) * 100).round(2).sort_values(ascending=False)
print("\nPercentage of Trips by Category : ")
Percentage_category_counts

Total Trips :  1155

Percentage of Trips by Purpose :
PURPOSE
Unknown            43.46
Meeting            16.19
Meal/Entertain     13.85
Errand/Supplies    11.08
Customer Visit      8.74
Temporary Site      4.33
Between Offices     1.56
Moving              0.35
Airport/Travel      0.26
Charity ($)         0.09
Commute             0.09
Name: count, dtype: float64

Percentage of Trips by Category :

CATEGORY
Business    93.33
Personal     6.67
Name: count, dtype: float64

In [71]:
# Total distance covered by all trips
total_distance = df['MILES'].sum()
print("Total Distance Covered:", total_distance)
# Average distance per trip
avg_distance = df['MILES'].mean().round(2)
print("Average Distance per Trip:", avg_distance)
# Shortest trip
min_distance = df['MILES'].min()
print("Shortest Trip:", min_distance)
# Longest trip
max_distance = df['MILES'].max()
print("Longest Trip:", max_distance)
#Average distance per purpose
avg_distance_by_purpose = df.groupby('PURPOSE')['MILES'].mean().round(2).sort_values(ascending=False)
print("\nAverage Distance per Purpose : ")
print(avg_distance_by_purpose)

Total Distance Covered: 12204.7
Average Distance per Trip: 10.57
Shortest Trip: 0.5
Longest Trip: 310.3

Average Distance per Purpose :
PURPOSE
Commute            180.20
Customer Visit      20.69
Meeting             15.25
Charity ($)         15.10
Between Offices     10.94
Temporary Site      10.47
Unknown              9.75
Meal/Entertain       5.70
Airport/Travel       5.50
Moving               4.55
Errand/Supplies      3.97
Name: MILES, dtype: float64

In [73]:
#Peak Hours for Rides
peak_hour = df['START_DATE'].dt.hour.value_counts().sort_values(ascending=False)
print("Trips per Hour: ", peak_hour)

Trips per Hour:  START_DATE
15    98
17    95
13    94
18    94
14    89
16    88
12    77
11    72
20    71
19    68
10    65
21    51
9     51
8     35
22    31
23    26
0     19
7     13
1      5
5      4
6      4
3      3
2      2
Name: count, dtype: int64

In [75]:
#Frequency of Pickup Locations
pickup_locations = df['START'].value_counts().sort_values(ascending=False)
print(pickup_locations)

START
Cary                  201
Unknown Location      148
Morrisville            85
Whitebridge            68
Islamabad              57
                     ...
Hayesville              1
Connecticut Avenue      1
Arlington               1
Krendle Woods           1
Gampaha                 1
Name: count, Length: 177, dtype: int64

In [83]:
#Frequency of Routes
df['ROUTE'] = df['START'] + " → " + df['STOP']
df['ROUTE']   = df['ROUTE'].str.strip()
route_counts = df['ROUTE'].value_counts().sort_values(ascending=False)
print(route_counts)

ROUTE
Unknown Location → Unknown Location    86
Morrisville → Cary                     75
Cary → Morrisville                     67
Cary → Cary                            53
Cary → Durham                          36
                                       ..
Apex → Holly Springs                    1
Unknown Location → Morrisville          1
Cary → Unknown Location                 1
Downtown → Central                      1
Gampaha → Ilukwatta                     1
Name: count, Length: 363, dtype: int64

In [79]:
df.to_csv("Uber Dataset Cleaned and Analyzed.csv", index=False)